@(currentPage: Page[(models.Version, Option[String])], currentOrderBy: Int, currentFilter: String)(implicit request: play.api.mvc.RequestHeader)

@import tag._

@main(Messages("administration.versions")) {
<header>
    <h1>@Messages("administration.versions")</h1>
</header>

@listSearch(routes.Administration.listVersions(), Messages("versionadmin.search.placeholder"), Messages("versionadmin.search.button"), currentFilter)

<div class="row">
    <div class="span2 offset10">
        <a data-pjax="#mainContainer" class="btn btn-success" id="add" href="@routes.Administration.createVersion()">@Messages("versionadmin.create")</a>
    </div>
</div>

@Option(currentPage.items).filterNot(_.isEmpty).map { versions =>

<table class="table table-striped">
<thead>
<tr>
    @headerEntry(1, Messages("administration.id"), currentFilter, currentOrderBy, routes.Administration.listVersions)
    @headerEntry(2, Messages("version.name"), currentFilter, currentOrderBy, routes.Administration.listVersions)
    @headerEntry(3, Messages("version.parent"), currentFilter, currentOrderBy, routes.Administration.listVersions)
</tr>
</thead>
<tbody>

@versions.map {
    case (version, parent) => {
    <tr>
        <td><a data-pjax="#mainContainer" href="@routes.Administration.editVersion(version.id.get)">@version.id.get</a></td>
        <td><a data-pjax="#mainContainer" href="@routes.Administration.editVersion(version.id.get)">@version.name</a></td>
        <td>
            @parent.getOrElse { <em>-</em> }
        </td>
    </tr>
    }
}

</tbody>
</table>


@paginationFooter(currentPage, versions.size, currentFilter, currentOrderBy, routes.Administration.listVersions)

}.getOrElse {

<div class="well">
    <em>@Messages("administration.nothing")</em>
</div>

}
<div class="form-actions">
    <a data-pjax="#mainContainer" href="@routes.Administration.index()" class="btn">@Messages("administration.back")</a>
</div>


@* for style purposes *@
<div class="spacer">&nbsp;</div>
}

