@(modForm: Form[models.Module])(implicit request: controllers.AuthenticatedRequest[AnyContent])

@import helper._
@import helper.twitterBootstrap._
@import tag._

@implicitField = @{ FieldConstructor(views.html.tag.formElement.f) }

@main(Messages("mods.create")) {
<header id="menuModulesArea">
    <h1>@Messages("mods.create")</h1>
</header>

@helper.form(action = routes.Modules.saveModule(), 'class -> "well") {

    @inputText(
    modForm("name"),
    '_label -> Messages("mod.name"),
    '_error -> modForm.globalError
    )

    @select(
    modForm("version"),
    options = options(Version.allSelect),
    '_default -> Messages("mod.version.default"),
    '_label -> Messages("mod.version"),
    '_help -> "",
    '_error -> modForm.globalError
    )

    @inputText(
    modForm("url"),
    '_label -> Messages("mod.url"),
    '_help -> Messages("mod.url.help"),
    '_error -> modForm.globalError
    )

    @inputText(
    modForm("tags"),
    '_id -> "tags",
    '_label -> Messages("mod.tags"),
    '_help -> Messages("mod.tags.help"),
    '_error -> modForm.globalError
    )
    @tagInput("tags", modForm.data.foldRight(List[String]()) { (x,l) => if(x._1.startsWith("tags"))  x._2 :: l else l  })

    @richTextEditor(
    modForm("description"),
    '_label -> Messages("mod.description"),
    '_error -> modForm.globalError
    )

    <div class="form-actions">
        <input type="submit" class="btn btn-primary" value="@Messages("navigation.save")">
        <a  href="@routes.Profile.index(request.user.id.get)" class="btn pjaxLink">@Messages("navigation.cancel")</a>
    </div>
}

<div class="spacer">&nbsp;</div>
}