@()(implicit request: play.api.mvc.RequestHeader)

@* Login icons thanks to https://github.com/intridea/authbuttons *@

@main(Messages("login.title")) {
    <header id="menuAuthArea">
        <h1>@Messages("login.title")</h1>
    </header>


    <div class="loginOptions">
        <p>@Messages("login.text")</p>
        <div class="row">
            <div class="span2">
                <a href="@routes.Authentication.githubAuth()" class="github">&nbsp;</a>
            </div>
            <div class="span2">
                <a href="@routes.Authentication.twitterAuth()" class="twitter">&nbsp;</a>
            </div>
            <div class="span2">
                <a href="@routes.Authentication.googleAuth()" class="google">&nbsp;</a>
            </div>
            <div class="span6">
                &nbsp;
            </div>
        </div>
    </div>

    @* for style purposes *@
    <div class="spacer">&nbsp;</div>
}