@(path: String)(implicit request: play.api.mvc.RequestHeader)

@main(Messages("notFound.title")) {

    <header class="humongous mainheader">
        <div class="inner">
            <h1>@Messages("notFound.header") <span frown>:(</span></h1>
            <p class="left">@Messages("notFound.text1")</p>
            <p class="left">@Messages("notFound.text2") @Messages("notFound.text5") <a data-pjax="#mainContainer" href="@routes.Application.index()">@Messages("notFound.textLink")</a></p>


        @* Notify google on the issue and provide search box *@
        <script>
            var GOOG_FIXURL_LANG = (navigator.language || '').slice(0,2),
            GOOG_FIXURL_SITE = location.host;
        </script>
        <script src="http://linkhelp.clients.google.com/tbproxy/lh/wm/fixurl.js"></script>

        </div>
    </header>

}