@(userForm: Form[models.User], id: Long)(implicit request: play.api.mvc.RequestHeader)

@import helper._
@import helper.twitterBootstrap._

@implicitField = @{ FieldConstructor(views.html.tag.formElement.f) }

@main(Messages("profile.edit")) {
    <header>
        <h1>@Messages("profile.edit")</h1>
    </header>

    @helper.form(action = routes.Profile.save(), 'class -> "well") {

        @inputText(
        userForm("name"),
        '_label -> Messages("profile.name"),
        '_help -> Messages("profile.name.help"),
        '_error -> userForm.globalError
        )

        @inputText(
        userForm("avatar"),
        '_label -> Messages("profile.avatar"),
        '_help -> Messages("profile.avatar.help"),
        '_error -> userForm.globalError
        )

        @textarea(
        userForm("bio"),
        '_label -> Messages("profile.bio"),
        '_help -> Messages("profile.bio.help"),
        'cols -> 50,
        'rows -> 7,
        '_error -> userForm.globalError
        )

        @inputText(
        userForm("url"),
        '_label -> Messages("profile.url"),
        '_help -> Messages("profile.url.help"),
        '_error -> userForm.globalError
        )

        @inputText(
        userForm("location"),
        '_label -> Messages("profile.location"),
        '_help -> Messages("profile.location.help"),
        '_error -> userForm.globalError
        )

    <div class="form-actions">
        <input type="submit" class="btn btn-primary" value="@Messages("profile.save")">
        <a href="@routes.Profile.index(id)" class="btn">@Messages("profile.cancel")</a>
    </div>


    }


    <div class="spacer">&nbsp;</div>
}