@(user: models.User, itsMe: Boolean)(implicit request: play.api.mvc.RequestHeader)

@main(Messages("profile.title", user.name)) {
    <header>
        <h1>@Messages("profile.title", user.name)</h1>
    </header>

    @* first row, personal details *@
    <div class="row">
        @* first colum, avatar*@
        <div class="span2">
            <ul class="thumbnails">
                <li class="span2">
                    <a href="#" class="thumbnail">
                        <img src="@user.avatar" alt="Avatar">
                    </a>
                </li>
            </ul>
        </div>
        <div class="span10">
            <div class="row">
                <div class="span1"><strong>@Messages("profile.name")</strong></div>
                <div class="span5">@user.name</div>
            </div>
            <div class="row">
                <div class="span1"><strong>@Messages("profile.bio")</strong></div>
                <div class="span5">@user.bio</div>
            </div>
            <div class="row">
                <div class="span1"><strong>@Messages("profile.location")</strong></div>
                <div class="span5"><em>@user.location</em></div>
            </div>
            <div class="row">
                <div class="span1"><strong>@Messages("profile.blog")</strong></div>
                <div class="span5"><a href="@user.blog">@user.blog</a></div>
            </div>
            <div class="row">
                <div class="span1"><strong>@Messages("profile.githubUrl")</strong></div>
                <div class="span5"><a href="@user.githubUrl">@user.githubUrl</a></div>
            </div>
            @if(itsMe && user.admin) {
                <div class="row">
                    <div class="span1"><strong><a href="#">@Messages("profile.admin")</a></strong></div>
                    <div class="span5"></div>
                </div>
            }

        </div>
    </div>

    @* second row, modules *@
    <div class="page-header">
        <h2>@Messages("profile.modules")</h2>
    </div>


    @* third row, demos *@
    <div class="page-header">
        <h2>@Messages("profile.demos")</h2>
    </div>


    <div class="spacer">&nbsp;</div>
}