@(user: models.User, itsMe: Boolean, currentDemoPage: Page[models.DemoView], currentDemoOrderBy: Int, currentModPage: Page[models.ModuleView], currentModOrderBy : Int )(implicit request: play.api.mvc.RequestHeader)

@import tag._

@main(Messages("profile.title", user.name)) {
    <header id="menuProfileArea">
        <h1>@Messages("profile.title", user.name)</h1>
    </header>

    @* first row, personal details *@
    <div class="row">
        @* first colum, avatar*@
        <div class="span2">
            <ul class="thumbnails">
                <li class="span2">
                    <a href="#" class="thumbnail">
                        <img src="@user.avatar" alt="Avatar">
                    </a>
                </li>
            </ul>
            @if(itsMe) {
                <a data-pjax="#mainContainer" href="@routes.Profile.edit()">@Messages("profile.edit")</a>
            }
        </div>
        <div class="span10">
            <div class="row">
                <div class="span1"><strong>@Messages("profile.name")</strong></div>
                <div class="span5">@user.name</div>
            </div>
            <div class="row">
                <div class="span1"><strong>@Messages("profile.url")</strong></div>
                <div class="span5"><a href="@user.url">@user.url</a></div>
            </div>
            <div class="row">
                <div class="span1"><strong>@Messages("profile.location")</strong></div>
                <div class="span5">@user.location</div>
            </div>
            <div class="row">
                <div class="span1"><strong>@Messages("profile.bio")</strong></div>
                <div class="span5">@richTextDisplay(user.bio)</div>
            </div>
            @if(itsMe && user.admin) {
                <div class="row">
                    <div class="span1"><strong><a data-pjax="#mainContainer" href="@routes.Administration.index()">@Messages("profile.admin")</a></strong></div>
                    <div class="span5"></div>
                </div>
            }

        </div>
    </div>

    @* second row, modules *@
    <div class="page-header">
        <h2>@Messages("profile.modules")</h2>
        @if(itsMe) {
        <div class="span2 offset10 pinRight">
            <a data-pjax="#mainContainer" class="btn btn-success" id="addMod" href="@routes.Modules.createModule()">@Messages("mods.create")</a>
        </div>
        }
    </div>

        @Option(currentModPage.items).filterNot(_.isEmpty).map { mods =>

        <table class="table table-striped">
            <thead>
            <tr>
                @headerProfileMod(2, Messages("mod.name"), user.id.get, currentModOrderBy, routes.Profile.filteredProfile)
                @headerProfileMod(8, Messages("mod.version"), user.id.get, currentModOrderBy, routes.Profile.filteredProfile)
                @headerProfileMod(5, Messages("mod.url"), user.id.get, currentModOrderBy, routes.Profile.filteredProfile)
                @headerProfileMod(3, Messages("mod.score"), user.id.get, currentModOrderBy, routes.Profile.filteredProfile)
                @headerProfileMod(7, Messages("mod.updated"), user.id.get, currentModOrderBy, routes.Profile.filteredProfile)
                <th></th>
            </tr>
            </thead>
            <tbody>

            @mods.map {
            case (mod) => {
            <tr>
                @if(itsMe) {
                <td><a data-pjax="#mainContainer" href="@routes.Modules.editModule(mod.id)">@mod.name</a></td>
                } else {
                <td>@mod.name</td>
                }
                <td>@mod.version</td>
                <td><a href="@mod.url">@mod.url</a></td>
                <td><span class="badge @if(mod.showScore > 0) {badge-success} else {badge-error}">@mod.showScore</span></td>
                <td>@mod.updated.format("dd-MM-yyyy")</td>
                <td><a data-pjax="#mainContainer" href="@routes.Modules.viewModule(mod.id)" class="btn btn-info floatRight">@Messages("mods.comments")</a></td>
            </tr>
            }
            }

            </tbody>
        </table>

        @paginationFooterProfileMod(currentModPage, mods.size, user.id.get, currentDemoOrderBy, currentModOrderBy, routes.Profile.filteredProfile)

        }.getOrElse {

        <div class="well">
            <em>@Messages("navigation.nothing")</em>
        </div>

        }


    @* third row, demos *@
    <div class="page-header">
        <h2>@Messages("profile.demos")</h2>
        @if(itsMe) {
        <div class="span2 offset10 pinRight">
            <a data-pjax="#mainContainer" class="btn btn-success" id="addDemo" href="@routes.Demos.createDemo()">@Messages("demos.create")</a>
        </div>
        }
    </div>

        @Option(currentDemoPage.items).filterNot(_.isEmpty).map { demos =>

        <table class="table table-striped">
            <thead>
            <tr>
                @headerProfileDemo(2, Messages("demo.name"), user.id.get, currentDemoOrderBy, routes.Profile.filteredProfile)
                @headerProfileDemo(8, Messages("demo.version"), user.id.get, currentDemoOrderBy, routes.Profile.filteredProfile)
                @headerProfileDemo(6, Messages("demo.demourl"), user.id.get, currentDemoOrderBy, routes.Profile.filteredProfile)
                @headerProfileDemo(3, Messages("demo.score"), user.id.get, currentDemoOrderBy, routes.Profile.filteredProfile)
                <th></th>
            </tr>
            </thead>
            <tbody>

            @demos.map {
            case (demo) => {
            <tr>
                @if(itsMe) {
                    <td><a data-pjax="#mainContainer" href="@routes.Demos.editDemo(demo.id)">@demo.name</a></td>
                } else {
                    <td>@demo.name</td>
                }
                <td>@demo.version</td>
                <td><a href="@demo.demourl">@demo.demourl</a></td>
                <td><span class="badge @if(demo.showScore > 0) {badge-success} else {badge-error}">@demo.showScore</span></td>
                <td><a data-pjax="#mainContainer" href="@routes.Demos.viewDemo(demo.id)" class="btn btn-info floatRight">@Messages("demos.comments")</a></td>
            </tr>
            }
            }

            </tbody>
        </table>

        @paginationFooterProfileDemo(currentDemoPage, demos.size, user.id.get, currentDemoOrderBy, currentModOrderBy, routes.Profile.filteredProfile)

        }.getOrElse {

        <div class="well">
            <em>@Messages("navigation.nothing")</em>
        </div>

        }

    <div class="row">
        <div class="span12">&nbsp;</span>
    </div>

    <div class="spacer">&nbsp;</div>
}

@headerProfileDemo(newOrderBy: Int, title: String, currentUser: Long, currentOrderBy: Int, call: (Long, Int, Int, Int, Int) => Call) = {
    <th>
        @if(scala.math.abs(currentOrderBy) == newOrderBy) {
        @if(currentOrderBy < 0) { <i class="icon-arrow-down"></i> } else { <i class="icon-arrow-up"></i> }
        }
        <a data-pjax="#mainContainer" href="@pageLinkProfile(0, currentModPage.page, currentUser, currentOrderBy, currentModOrderBy, call, Some(newOrderBy), None)">@title</a>
    </th>
}

@headerProfileMod(newOrderBy: Int, title: String, currentUser: Long, currentOrderBy: Int, call: (Long, Int, Int, Int, Int) => Call) = {
<th>
    @if(scala.math.abs(currentOrderBy) == newOrderBy) {
    @if(currentOrderBy < 0) { <i class="icon-arrow-down"></i> } else { <i class="icon-arrow-up"></i> }
    }
    <a data-pjax="#mainContainer" href="@pageLinkProfile(currentDemoPage.page, 0, currentUser, currentDemoOrderBy, currentOrderBy, call, None, Some(newOrderBy))">@title</a>
</th>
}

@pageLinkProfile(demoNewPage: Int, modNewPage: Int, currentUser: Long, currentDemoOrderBy: Int, currentModOrderBy : Int, call: (Long, Int, Int, Int, Int) => Call, newDemoOrderBy: Option[Int] = None, newModOrderBy: Option[Int] = None) = {

    @{
        call(currentUser, demoNewPage,
            newDemoOrderBy.map { orderBy =>
                if(orderBy == scala.math.abs(currentDemoOrderBy)) {
                    if(currentDemoOrderBy > 0) {
                        -currentDemoOrderBy
                    } else {
                        orderBy
                    }
                } else {
                    orderBy
                }
            }.getOrElse(currentDemoOrderBy),
            modNewPage,
            newModOrderBy.map { orderBy =>
                if(orderBy == scala.math.abs(currentModOrderBy)) {
                    if(currentModOrderBy > 0) {
                        -currentModOrderBy
                    } else {
                        orderBy
                    }
                } else {
                    orderBy
                }
            }.getOrElse(currentModOrderBy)
        )
    }
}


@paginationFooterProfileDemo(currentPage: Page[Any], pageSize: Int, currentUser: Long, currentDemoOrderBy: Int, currentModOrderBy: Int, call: (Long, Int, Int, Int, Int) => Call) = {
        <div id="paginationDemo" class="pagination">
            <a>Displaying @(currentPage.offset + 1) to @(currentPage.offset + pageSize) of @currentPage.total</a>
            <ul>
                @currentPage.prev.map { page =>
                <li class="prev">
                    <a data-pjax="#mainContainer" href="@pageLinkProfile(page, currentModPage.page, currentUser, currentDemoOrderBy, currentModOrderBy, call)">@Messages("pagination.prev")</a>
                </li>
                }.getOrElse {
                <li class="prev disabled">
                    <a>@Messages("pagination.prev")</a>
                </li>
                }

                @for(index <- currentPage.paginationStart to currentPage.paginationEnd) {
                @if(index == currentPage.page + 1){
                <li class="active">
                    <a href="#">@index</a>
                </li>
                } else {
                <li>
                    <a data-pjax="#mainContainer" href="@pageLinkProfile(index-1, currentModPage.page, currentUser, currentDemoOrderBy, currentModOrderBy, call)">@index</a>
                </li>
                }
                }

                @currentPage.next.map { page =>
                <li class="next">
                    <a data-pjax="#mainContainer" href="@pageLinkProfile(page, currentModPage.page, currentUser, currentDemoOrderBy, currentModOrderBy, call)">@Messages("pagination.next")</a>
                </li>
                }.getOrElse {
                <li class="next disabled">
                    <a>@Messages("pagination.next")</a>
                </li>
                }
            </ul>
        </div>
}

@paginationFooterProfileMod(currentPage: Page[Any], pageSize: Int, currentUser: Long, currentDemoOrderBy: Int, currentModOrderBy: Int, call: (Long, Int, Int, Int, Int) => Call) = {
        <div id="paginationMod" class="pagination">
            <a>Displaying @(currentPage.offset + 1) to @(currentPage.offset + pageSize) of @currentPage.total</a>
            <ul>
                @currentPage.prev.map { page =>
                <li class="prev">
                    <a data-pjax="#mainContainer" href="@pageLinkProfile(currentDemoPage.page, page, currentUser, currentDemoOrderBy, currentModOrderBy, call)">@Messages("pagination.prev")</a>
                </li>
                }.getOrElse {
                <li class="prev disabled">
                    <a>@Messages("pagination.prev")</a>
                </li>
                }

                @for(index <- currentPage.paginationStart to currentPage.paginationEnd) {
                @if(index == currentPage.page + 1){
                <li class="active">
                    <a href="#">@index</a>
                </li>
                } else {
                <li>
                    <a data-pjax="#mainContainer" href="@pageLinkProfile(currentDemoPage.page, index-1, currentUser, currentDemoOrderBy, currentModOrderBy, call)">@index</a>
                </li>
                }
                }

                @currentPage.next.map { page =>
                <li class="next">
                    <a data-pjax="#mainContainer" href="@pageLinkProfile(currentDemoPage.page, page, currentUser, currentDemoOrderBy, currentModOrderBy, call)">@Messages("pagination.next")</a>
                </li>
                }.getOrElse {
                <li class="next disabled">
                    <a>@Messages("pagination.next")</a>
                </li>
                }
            </ul>
        </div>
}